<!--全局样式 开始-->
<style>
    *{
        padding: 0;margin: 0;

    }
    body{
        background: #f2f2f2;
    }
    .g_padding{    padding: 0 15px;
        line-height: 60px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        color: #ff5394;background: #fafafa;}
    .bg-ff5394{
        background: #ff5394 !important;;
    }
    .txt-ff5394{color: #ff5394;}
    .g_btn {
        padding: 0 15px;
        height: 60px;
        background: #fafafa;
        text-align: center;
        color: #FFF;
        line-height: 60px;
    }
    .margin-top-20{
        margin-top: 20px !important;
    }
    .padding-bottom-20{
        padding-bottom: 20px !important;
    }
    .padding-top-20{
        padding-top: 20px !important;
    }

    .border-top{
        border-top: 1px solid #eeeeee;
    }
    .clear{clear: both;}
    .g_style{ padding: 0 15px;
        background: #fafafa;}
    .inline-block{
        display: inline-block;
    }
    .g_fr{  float: right;  }
    .g_fl{  float: left;  }
    .g_f8{
        color: #888888;
    }
    .g_ffeb446{
        color: #feb446;

    }
    .g_margin_right_15{
        margin-right: -15px;
    }
    .g_vertical_middle{
        vertical-align: middle;
    }
    .g_h100{
    height: 100%;;
    }
    .g_w36{
        width: 36px;
    }
    .g_fs12{
        font-size: 12px;;
    }
    .g_fs18{font-size: 18px;}
    .g_fs20{font-size: 18px;}
    .g_text_ellipsis{    white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .hide{display: none;}
</style>
<!--全局样式 结束-->
