<style>
    .navbar-inverse .navbar-toggle {
        border-color: #FFF;
    }
    .navbar-inverse {
        background-image: linear-gradient(to bottom,#018865 0,#018865 100%);
        background-repeat: repeat-x;
    }
    .navbar-inverse .navbar-nav>li>a{
        color: #fff;
    }
    .navbar-inverse {
        background-color: #018865;
    }
    .navbar-inverse .navbar-brand {
        color: #fff;
    }
    .navbar-inverse {
        border-color: #018865;
    }
    .container{

    }
    .btn{background-image: none;}
    .btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #018865;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="/">管理后台</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="hidden-sm hidden-md"><a href="/teacher_manager">革奴</a></li>
                <li><a href="/recommended_manager">Linux</a></li>
                <li><a href="/order_manager">IOS</a></li>
                <li><a href="/message_manager">ANDROID</a></li>
                <li><a href="/stat">JAVA</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li>
                    <a href="/loginout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>