
<div class="bs-example" data-example-id="simple-pagination">
    <nav>
        <ul class="pagination">
            <%
            if(typeof(page)=='undefined'){
                page = {
                    total:20,
                    current:4,
                    url:'/post/list/',
                    getUrl:function(page_){
                        return page.url+page_;
                    }
                }
            }
            page = _.merge({},{size:5},page||{});
            page.prev = page.current>1?'':'disabled';
            page.prevUrl = page.current>1?page.getUrl(page.current-1):'#';

            page.next = page.current< page.total? '':'disabled';
            page.nextUrl = page.current< page.total?'#':page.getUrl(page.current+1);

            %>
            <li class="<%=page.prev %>"><a href="<%=page.prevUrl%>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <%
            page.max = Math.floor(page.current + page.size/2);
            page.min = Math.ceil(page.current - page.size/2);
            if(page.min<0){
                page.max = page.max - page.min;

            }
            for(var i = page.min;i<=page.max;i++){
                if(i>0&&i< page.total){
                    var active = i==page.current?'active':'';
                %>
                    <li class="<%=active%>"><a href="<%=page.getUrl(i)%>"><%=i%></a></li>
                <%
                }
            }
            %>
            <li class="<%=page.next %>" ><a href="<%=page.nextUrl %>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
</div>
