<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ./../components/meta.html %>
    <% include ./components/zepto.html %>
    <title>餐馆详情</title>
</head>
<body>
<% include ./components/g_styles.html %>
<% include ./components/img.html %>
<% include ./components/double2.html %>

<% include ./components/location.html %>
<% include ./components/saleForPackage.html %>
<% include ./components/scoreShow.html %>

<% include ./components/goodService.html %>

<% include ./components/sort.html %>
<% include ./components/introduce.html %>
<% include ./components/download.html %>
<% include ./components/tabQiehuan.html %>

</body>
</html>