<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ./../components/meta.html %>
    <% include ./components/zepto.html %>
    <title>凑单</title>
</head>
<body>
    <% include ./components/g_styles.html %>
    <% include ./components/img.html %>
    <% include ./components/double.html %>
    <% include ./components/btn.html %>

    <% include ./components/user-list.html %>
    <% include ./components/timer.html %>
    <% include ./components/service-detail.html %>
    <% include ./components/sort.html %>
    <% include ./components/tabQiehuan.html %>

</body>
</html>