<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ./../components/meta.html %>
    <% include ./components/zepto.html %>
    <title>服务详情</title>
</head>
<body>
<% include ./components/g_styles.html %>
<% include ./components/img.html %>

<% include ./components/doublebtn.html %>

<% include ./components/location.html %>
<% include ./components/scoreShow.html %>
<% include ./components/service-detail2.html %>
<% include ./components/sort.html %>
<% include ./components/tabQiehuan.html %>
</body>
</html>