<!--h5导航页面 开始-->
<style>
    .g_title{ padding: 0 15px;
        height: 60px;
        background: #fafafa;}
    .grid{
        height: 60px;display: inline-block;
        width: 49%;float:left;;
    }
    .grid span{font-size: 12px;
        font-weight: normal;}
    .grid .title{
        font-size: 16px;
        font-weight: bolder;
        line-height: 30px;
        height: 30px;
    }
    .text-through-line{
        text-decoration: line-through;
    }
    .btn_right{
        padding: 0px;    width: 51%;
    }
</style>
<section class="g_title">
    <div class="g_margin_right_15">
        <div class="grid-left grid">
            <div class="title">一米阳光摄影机构</div>
            <span class="txt-ff5394">¥4498元</span>
        </div>
        <div class="grid-right grid g_btn bg-ff5394 btn_right">
            立即购买
        </div>
        <div class="clear"></div>
    </div>
</section>
<!--h5导航页面 结束-->
