<style>
    .grid .show-tab{
        text-align: center;
        line-height: 60px;
        height: 60px;
        font-size: 18px;
        color: #303030;
    }
    .grid .active{
        text-align: center;
        line-height: 60px;
        height: 60px;
        font-size: 18px;
        color: #ff66bf;
        border-bottom: 2px solid #ff66bf;
    }
    .tab-good-service .g_title_img_ctner {
        position: absolute;
    }
    .tab-good-service .grid{
        width: 27%;    margin: 0 7%;
    }
</style>
<section class="g_title margin-top-20 tab-good-service">

    <div>
        <div class="grid-left grid " data-class="service" style="margin: 0px 3% 0 3%;">
            <div class="title show-tab active">商品服务</div>
        </div>
        <div class="grid-right grid" data-class="comment"  style="margin: 0px 3% 0 3%;">
            <div class="title show-tab">用户点评</div>
        </div>

        <div class="grid-right grid" data-class="introduce" style="margin: 0px 3% 0 3%;">
            <div class="title show-tab ">商家介绍</div>
        </div>
    </div>
</section>
<style>
    .g_title p{
        color: #888888;
        color: #888888;
        line-height: 200%;
    }
    .text-service{
        height: auto;
    }
    .good-item{      width: 47%;
        background: #fafafa;
        border-radius: 6px;
        border: 1px solid #eee;
        margin-top: 15px;
    }
    .good-item-right{  margin-right: 1%;  }
    .good-item-left{  margin-left: 1%;  }
    .good-img img{width: 100%;}
    .good-title{
    }
    .good-desc{
        padding: 5px;;

    }
</style>
<section class="g_title  text-service border-top tab-active-service tab-active" style="    background: #f2f2f2;">
   <div class="good-item inline-block good-item-right">
        <div class="good-img " >
            <img src="/h5/shoping.jpg" alt=""/>
        </div>
       <div>
           <div class="g_text_ellipsis good-desc">文艺复古风来袭B文艺复古风来袭B</div>
           <div class="good-desc txt-ff5394">¥ 2110 元</div>
           <p class="good-desc" style="line-height: 100%;">已售232323件</p>
       </div>
   </div>
    <div class="good-item inline-block good-item-left">
        <div class="good-img " >
            <img src="/h5/shoping.jpg" alt=""/>
        </div>
        <div>
            <div class="g_text_ellipsis good-desc">文艺复古风来袭B文艺复古风来袭B</div>
            <div class="good-desc txt-ff5394">¥ 2110 元</div>
            <p class="good-desc g_fs12" style="line-height: 100%;">已售232323件</p>
        </div>
    </div>
    <div class="good-item inline-block good-item-right">
        <div class="good-img " >
            <img src="/h5/shoping.jpg" alt=""/>
        </div>
        <div>
            <div class="g_text_ellipsis good-desc">文艺复古风来袭B文艺复古风来袭B</div>
            <div class="good-desc txt-ff5394">¥ 2110 元</div>
            <p class="good-desc g_fs12" style="line-height: 100%;">已售232323件</p>
        </div>
    </div>
    <div class="good-item inline-block good-item-left">
        <div class="good-img " >
            <img src="/h5/shoping.jpg" alt=""/>
        </div>
        <div>
            <div class="g_text_ellipsis good-desc">文艺复古风来袭B文艺复古风来袭B</div>
            <div class="good-desc txt-ff5394">¥ 2110 元</div>
            <p class="good-desc g_fs12" style="line-height: 100%;">已售232323件</p>
        </div>
    </div>
</section>


