<style>
    .g_title p{
        color: #888888;
        color: #888888;
        line-height: 200%;
    }
    .text-service{
        height: auto;
    }
</style>
<section class="g_title  text-service border-top tab-active-introduce tab-active hide">
    <br/>
    <p>
        成立时间：全聚德，中华著名老字号，创建于1864年（清朝同治三年）。
    </p>
    <p>
        商户简介：历经几代的创业拼搏获得了长足发展。1999年1月，“全聚德”被国家工商总局认定为“驰名商标”，是我国第一例服务类中国驰名商标。全聚德烤鸭肉质鲜美，适合许多人吃。
    </p>
    <p>
        营业时间：“全聚德”既古老有年轻，既传统又现代，正向着“中国第一餐饮，世界一流美食，国际知名品牌”宏伟愿景而奋勇前进。
    </p>
    <br/>
    <div>
        <img src="/h5/img.gif" alt="" style="width: 100%;">
    </div>
</section>