<!--地址开始-->
<style>
    .g_title_line_height_100{
        line-height: 60px;
    }
</style>
<section class="g_title  border-top">
    <div style="margin: 12px 0;">
        <div class="g_title_img_ctner inline-block g_h100 ">
            <img src="/h5/location.jpg" class="g_vertical_middle">
        </div>
        <div class="g_f8 inline-block g_float_text g_text_ellipsis " style="font-size: 16px;width: 80%;position: relative;top: 2px">北京市朝阳区小营东路3号凯几轮大厦</div>

        <div class="g_title_img_ctner inline-block g_h100 g_fr">
            <img src="/h5/right.jpg" alt="" class="g_vertical_middle">
        </div>
    </div>

</section>
<!--地址结束-->
