<!--团购开始-->
<style>
    .tuan-item{
        margin: 15px 0
    }
    .tuan-title{
    }
    .tuan-item-txt {
        /*margin: 10px 0;*/
        margin: 9px 0;
    }
    .tuan-item-txt > *{

    }
    .psion-fix{
        position: relative;
        top: -2px;
    }
</style>
<section class="g_title g_title_line_height_100 border-top margin-top-20">
    <div class="g_title_img_ctner inline-block g_h100">
        <img src="/h5/tuan.jpg" class="g_vertical_middle" >
    </div>
    <div class="inline-block g_float_text" style="font-size: 16px;">团购</div>


    <div class="g_title_img_ctner inline-block g_h100 g_fr">
        <img src="/h5/right_.jpg" alt="" class="g_vertical_middle">
        <p class="inline-block">过期退</p>
    </div>
    <div class="g_title_img_ctner inline-block g_h100 g_fr">
        <img src="/h5/right_.jpg" alt="" class="g_vertical_middle">
        <p class="inline-block">随时退</p>
    </div>
</section>
<div class="g_title g_height_auto border-top padding-bottom-20">
    <div class="tuan-item">
        <div class="g_title_img_ctner  g_h100 g_fl" style="width: 30%;">
        <img src="/h5/header2.png" alt="" style="width: 100%;"  class="" align="absmiddle"/>
            </div>
        <div class="inline-block" style="width: 65%;padding-left: 5%;">
            <div class="tuan-item-txt tuan-title g_fs18 g_text_ellipsis">婚纱摄影外景婚纱摄影外景AA＋B套餐</div>
            <div class="tuan-item-txt tuan-price g_text_ellipsis">
                <span class="txt-ff5394 g_fs20">¥29999.00元</span>
                <div class="inline-block text-through-line g_fs12 g_f8 psion-fix">原价：¥39999.00元</div>
            </div>
            <div class="tuan-item-txt g_fs18 g_text_ellipsis g_f8">
                已售12223件
            </div>
        </div>
    </div>
    <div class="tuan-item">
        <div class="g_title_img_ctner  g_h100 g_fl" style="width: 30%;">
            <img src="/h5/header2.png" alt="" style="width: 100%;"  class="" align="absmiddle"/>
        </div>
        <div class="inline-block" style="width: 65%;padding-left: 5%;">
            <div class="tuan-item-txt tuan-title g_fs18 g_text_ellipsis">婚纱摄影外景婚纱摄影外景AA＋B套餐</div>
            <div class="tuan-item-txt tuan-price g_text_ellipsis">
                <span class="txt-ff5394 g_fs20">¥29999.00元</span>
                <div class="inline-block text-through-line g_fs12 g_f8 psion-fix">原价：¥39999.00元</div>
            </div>
            <div class="tuan-item-txt g_fs18 g_text_ellipsis g_f8">
                已售12223件
            </div>
        </div>
    </div>
    <div class="tuan-item">
        <div class="g_title_img_ctner  g_h100 g_fl" style="width: 30%;">
            <img src="/h5/header2.png" alt="" style="width: 100%;"  class="" align="absmiddle"/>
        </div>
        <div class="inline-block" style="width: 65%;padding-left: 5%;">
            <div class="tuan-item-txt tuan-title g_fs18 g_text_ellipsis">婚纱摄影外景婚纱摄影外景AA＋B套餐</div>
            <div class="tuan-item-txt tuan-price g_text_ellipsis">
                <span class="txt-ff5394 g_fs20">¥29999.00元</span>
                <div class="inline-block text-through-line g_fs12 g_f8 psion-fix">原价：¥39999.00元</div>
            </div>
            <div class="tuan-item-txt g_fs18 g_text_ellipsis g_f8">
                已售12223件
            </div>
        </div>
    </div>
</div>
<!--团购结束-->