<!--综合评分开始-->
<style>
    .star-line{
        height: 28px;
    }
    .one-star{  background: #e37b4c;  }
    .two-star{  background: #e6a13f;  }
    .three-star{  background: #5f8c0a;  }
    .four-star{  background: #9ecef5;  }
    .five-star{  background: #8d70b2;  }
    .ctner-star-line{margin-top: 14px;}
    .ctner-star-line p{
        height: 24px;line-height: 24px !important;
    }
    .star-txt{
        color: #303030 !important;
    }
</style>
<section class="g_title margin-top-20 g_title_line_height_100">
    <div class="g_title_img_ctner inline-block g_h100">
        <img src="/h5/score.jpg" class="g_vertical_middle g_w36">
    </div>
    <div class="inline-block g_float_text" style="font-size: 16px;">综合评分</div>
    <div class="inline-block g_float_text g_ffeb446" style="font-size: 16px;">8.9分</div>
    <% include ./star.html %>
    <div class="g_title_img_ctner inline-block g_h100 g_fr g_fs12 g_f8">1221人评价</div>
</section>
<section class="g_title border-top g_height_auto">
    <div class="ctner-star-line margin-top-20">
        <p class="inline-block star-txt">一星:</p>
        <p class="inline-block one-star star-line" style="width: 19%;">
            &nbsp;
        </p>
        <p class="inline-block g_f8">19%</p>
    </div>
    <div class="ctner-star-line">
        <p class="inline-block star-txt">二星:</p>
        <p class="inline-block two-star star-line" style="width: 1%;">
            &nbsp;
        </p>
        <p class="inline-block g_f8">1%</p>
    </div>
    <div class="ctner-star-line">
        <p class="inline-block star-txt">三星:</p>
        <p class="inline-block three-star star-line" style="width: 69%;">
            &nbsp;
        </p>
        <p class="inline-block g_f8">69%</p>
    </div>
    <div class="ctner-star-line">
        <p class="inline-block star-txt">四星:</p>
        <p class="inline-block four-star star-line" style="width: 20%;">
            &nbsp;
        </p>
        <p class="inline-block g_f8">20%</p>
    </div>
    <div class="ctner-star-line padding-bottom-20">
        <p class="inline-block star-txt">五星:</p>
        <p class="inline-block five-star star-line" style="width: 12%;">
            &nbsp;
        </p>
        <p class="inline-block">12%</p>
    </div>
</section>
<!--综合评分结束-->