<style>
    /*.arrow-up{*/
        /*width: 0;*/
        /*border: 6px solid transparent;*/
        /*border-bottom: 6px solid #d8d8d8;*/
    /*}*/

    /*.arrow-down{*/
        /*width: 0;*/
        /*border: 6px solid transparent;*/
        /*border-top: 6px solid #d8d8d8;*/
        /*margin-top: 3px;*/
    /*}*/
    /*.arrow-down-active{  border-top: 6px solid #ff5394;  }*/
    /*.arrow-up-active{  border-down: 6px solid #ff5394;  }*/
    /*.arrow-ctner-fix{position: relative;*/
        /*top: 7px;;}*/
    .g_title_{
        height: 60px;
        background: #fafafa;
    }
    .w3{
        width: 31.333%;
        display: inline-block;
        line-height: 60px;line-height: 60px;;
        text-align: center;
    }
    .commont-header{
        padding-top: 10px;
    }
    .commont-header > img{
        width: 50px;margin-right: 15px;
    }
    .commont-txt{
        margin-left: 70px;
    }
    .g_height_auto{
        height: auto;
    }
    .commont-title{
        height: 30px;
        line-height: 30px;
    }
    .commont-title p{
        display: inline-block;
        font-size: 18px;
        line-height: 30px;
    }
    
    .commont-title img{margin-top: -3px;    margin-left: 2px;    width: 26px;}
    .commont-time{}
</style>
<!--<div class="g_title_ margin-top-20 border-top" style="background: #f8f8f8;">-->
    <!--<div class="w3" >-->
        <!--按评分-->
        <!--<div class="inline-block arrow-ctner-fix">-->
            <!--&lt;!&ndash;此处需注意，arrow-up表示向上的灰色箭头。arrow-down表示向下的灰色箭头。arrow-down-active表示选中的向下。arrow-top-active表示选中的向上&ndash;&gt;-->
            <!--<p class="arrow-up "></p>-->
            <!--<p class="arrow-down arrow-down-active"></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="w3"  style="border: 1px solid #eeeeee;border-bottom: 0;border-top: 0;">按年龄-->
        <!--<div class="inline-block arrow-ctner-fix">-->
            <!--&lt;!&ndash;此处需注意，arrow-up表示向上的灰色箭头。arrow-down表示向下的灰色箭头。arrow-down-active表示选中的向下。arrow-top-active表示选中的向上&ndash;&gt;-->
            <!--<p class="arrow-up "></p>-->
            <!--<p class="arrow-down "></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="w3" style="">按销量-->
        <!--<div class="inline-block arrow-ctner-fix">-->
            <!--&lt;!&ndash;此处需注意，arrow-up表示向上的灰色箭头。arrow-down表示向下的灰色箭头。arrow-down-active表示选中的向下。arrow-top-active表示选中的向上&ndash;&gt;-->
            <!--<p class="arrow-up "></p>-->
            <!--<p class="arrow-down "></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="hide tab-active-comment tab-active">
    <div class="g_title g_height_auto commont-item border-top  ">
        <div class="commont-header">
            <img src="/h5/header2.gif" alt=""/>
            <div class="inline-block">
                <div class="commont-title">
                    <p >ki_ko美雪</p> <span>25周岁</span><img src="/h5/h.jpg" alt="" align="absmiddle" >
                </div>

                <% include ./star.html %>
            </div>
            <div class="commont-time g_fr inline-block">
                <p>昨天</p>
            </div>
        </div>
        <div class="commont-txt" >
            <p>
                超市出来的紫色瓶子,透明植酸的那款,超级难用,洗完头发太贴头皮了,简直就是趴在头皮上!香味重的要死,都不知道放了多少香辣,头发西一天就跟又了一样...!
            </p>
        </div>
    </div>
    <div class="g_title g_height_auto commont-item border-top">
        <div class="commont-header">
            <img src="/h5/header2.gif" alt=""/>
            <div class="inline-block">
                <div class="commont-title">
                    <p >ki_ko美雪</p> <span>25周岁</span><img src="/h5/middle.jpg" alt="" align="absmiddle" >
                </div>
                <% include ./star.html %>
            </div>
            <div class="commont-time g_fr inline-block">
                <p>10-19</p>
            </div>
        </div>
        <div class="commont-txt" >
            <p>
                超市出来的紫色瓶子,透明植酸的那款,超级难用,洗完头发太贴头皮了,简直就是趴在头皮上!香味重的要死,都不知道放了多少香辣,头发西一天就跟又了一样...!
            </p>
        </div>
    </div>
    <div class="g_title g_height_auto commont-item border-top">
        <div class="commont-header">
            <img src="/h5/header2.gif" alt=""/>
            <div class="inline-block">
                <div class="commont-title">
                    <p >ki_ko美雪</p> <span>25周岁</span><img src="/h5/h.jpg" alt="" align="absmiddle" >
                </div>

                <% include ./star.html %>
            </div>
            <div class="commont-time g_fr inline-block">
                <p>10-17</p>
            </div>
        </div>
        <div class="commont-txt" >
            <p>
                超市出来的紫色瓶子,透明植酸的那款,超级难用,洗完头发太贴头皮了,简直就是趴在头皮上!香味重的要死,都不知道放了多少香辣,头发西一天就跟又了一样...!
            </p>
        </div>
    </div>
    <% include ./nextpage.html %>

</div>




