<!--评分开始-->
<style>
    .class-star-ctner{
        display: inline-block;
        overflow: hidden;
        height: 20px;
        width: 116px;    line-height: 100%;
    }
    .class-star-ctner img{
        width: 20px
    }
</style>
<!--渲染评分时，如果用动态语言或者模板，可以for循环，遍历5次，索引值小于评分的渲染star1.png,否则渲染star0.png-->
<div class="class-star-ctner">
    <img src="/h5/star1.png" alt=""/>
    <img src="/h5/star1.png" alt=""/>
    <img src="/h5/star1.png" alt=""/>
    <img src="/h5/star1.png" alt=""/>
    <img src="/h5/star0.png" alt=""/>
</div>
<!--评分结束-->
