<style>
    .show-timer {
        display: inline-block;
        height: 47px;
        width: 47px;
        background: #48363d;
        text-align: center;
        line-height: 47px;
        color: #FFF;
        font-size: 32px;position: relative;
        border-radius: 7px;    margin-top: 5px;
    }
    .show-timer-txt{
        display: inline-block;
        position: relative;
        margin-top: 8px;
        position: relative;
        height: 47px;
        line-height: 47px;
        top: -5px;
    }
    .show-timer > div{
        width: 100%;
        border-bottom: 1px solid #FFF;
        height: 23px;
        position: absolute;
    }
</style>
<section class="g_title margin-top-20">
    <div class="g_title_img_ctner">
        <img src="/h5/timer.jpg" alt="">
    </div>
    <div class="g_float_text" style="float: right;">
        <div class="show-timer">
            <div></div>
            06
        </div>
        <div class="show-timer-txt">
            天
        </div>
        <div class="show-timer">
            <div></div>
            23
        </div>
        <div class="show-timer-txt">

        时
            </div>
        <div class="show-timer">
            <div></div>
            50
        </div>
        <div class="show-timer-txt">

        分
            </div>
        <div class="show-timer">
            <div></div>
            23
        </div>
        <div class="show-timer-txt">

        秒</div>
        </div>
</section>